{% extends "backend_base.html" %}
 
{% block title1 %}订单列表{% endblock %}
{% block title2 %}订单列表{% endblock %}
{% block title3 %}订单列表{% endblock %}
{% block titleBase %}订单管理{% endblock %}
{% block titleBaseUrl %}order_list{% endblock %}
{% block content %}
    <!-- 产品列表板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商品品牌</th>
                                <th>订单时间</th>
                                <th>用户名</th>
                                <th>联系方式</th>
                                <th>送货地址</th>
                                <th>操作</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td><!-- {{list.id}} -->李宁鞋</td>
                                <td><img src="/media/product/brand-1_1.gif"></td>
                                <td><!-- <img src="/media/{{list.photo}}" > -->2014-10-24 10:20:10</td>
                                <td><!-- {{list.datetime | date:"Y-m-d H:i:s"}} -->xxx</td>
                                <td>17070077007</td>
                                <td>江西师范大学瑶湖校区X栋X室</td>
                                <td>
                                    <a href="javascript:void(0);" click_action="/backend/order_handle/?id=3" >
                                        发货
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </article>
       <!--中文分页显示 -->
        <ul class="pagination">
            <li>
                <a href="/backend/product_list/?page={{public_pages.prevpage}}&currentpage={{public_pages.currentpage}}">上一页</a>
            </li>
            {% for page in public_pages.page_list %} {% if page == public_pages.currentpage %}
            <li class="active">
                <a href="/backend/product_list/?page={{page}}&currentpage={{public_pages.currentpage}}">{{page}}</a>
            </li>
            {% else %}
            <li>
                <a href="/backend/product_list/?page={{page}}&currentpage={{public_pages.currentpage}}">{{page}}</a>
            </li>
            {%endif%} {% endfor %}
            <li>
                <a href="/backend/product_list/?page={{public_pages.nextpage}}&currentpage={{public_pages.currentpage}}">下一页</a>
            </li>
        </ul>
        <!-- 中文分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- 订单列表板块 结束 -->

    <!-- 模态框（Modal）开始 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:150px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div style="border:0;padding-left:20px;">
                    <h3>
                    确认删除？
                    </h3>
                </div>
                <div class="modal-footer" style="border:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="delete">删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal）结束 -->

    <!-- 删除确认框 开始 -->
    <script type="text/javascript" src="/static/js/del_info.js"></script>
    <!-- 删除确认框 结束 -->
{% endblock %}